fastapi
python-multipart
uvicorn
requests
numpy
torch
transformers
huggingface_hub
gTTS
pygame
scikit-learn
youtube-transcript-api
yt-dlp
faster-whisper
SpeechRecognition
PyAudio
opencv-python-headless
ultralytics
mediapipe
langchain
langchain-chroma
langchain-huggingface
chromadb
sentence-transformers
python-dotenv
openai
accelerate
google-genai
bitsandbytes>=0.46.1
